<div class="p-mx-auto p-grid p-jc-center main-content">
  <div class="p-col-12" style="padding:  0 0 0 0">
    <div class="p-md-5 p-sm-8 title-text p-mx-auto" style="margin-bottom: 30px">
      <span>Projects</span>
    </div>
  </div>
    <p-card routerLink="timemachine" header="Time Machine" subheader="Minecraft Plugin" class="project-card">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/projects/images/TimeMachine.png">
      </ng-template>
    </p-card>
    <p-card routerLink="fordsearchengine" header="Ford Search Engine" subheader="Search Engine for Engineering Specs" class=" project-card">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/projects/images/fordsearchengine.png">
      </ng-template>
    </p-card>
    <p-card routerLink="flappybirdai" header="Flappy Bird AI" subheader="Flappy Bird Game controlled by a Neural Net" class=" project-card">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/projects/images/flappybird.png">
      </ng-template>
    </p-card>
</div>
