
<div class="main-content">
  <div class="title-text p-mx-auto p-grid p-jc-center" style="margin-bottom: 20px">
    <span>Flappy Bird AI</span>
  </div>
  <div class="regular-text p-mx-auto p-grid p-jc-start">
    <div class="p-col-12">
      <span STYLE="font-weight: bold">Goal: </span>
      <span>Build a game from scratch that is able to play itself</span>
    </div>
    <div class="p-col-12">
      <span STYLE="font-weight: bold">Technologies used: </span>
      <span>Java, NEAT</span>
    </div>
    <div class="p-col-12">
      <span STYLE="font-weight: bold">When: </span>
      <span>Feb 2020</span>
    </div>
    <div class="p-col-12">
      <span STYLE="font-weight: bold">Helpful Links: </span>
      <a class="link" style="text-decoration: underline" href="https://github.com/zwarunek/TimeMachine">GitHub</a>
    </div>
    <br>
    <div class="title-text p-col-12" style="border: none; width: fit-content">
      <span>Overview</span>
    </div>
    <div class="p-col-12 regular-text">
      <span>
        This is a clone of flappy bird and my first try at game development from scratch. I originally created this
        flappy bird for a communications class in my second semester are college. The class project was about unfamiliar
        genres, hence my first try atmaking a game. The game is written in Java and the engine is one that I created as
        well. After the class, Iwas still interested in taking it a bit further, so I hooked a machine-learning
        algorithm to it so it couldplay for me. The ML algorithm I went with was NEAT as it seemed like a reasonable
        place to start with machinelearning and AI.
      </span>
    </div>
  </div>
</div>
