<div class="background-img" style="background-image: url('./assets/images/ketteringIMG.jpg');
background-attachment: fixed;background-position-x: 50%"></div>

<div class="p-mx-auto p-grid p-jc-center main-content">
  <div class="p-md-5 p-sm-8  title-text">
    <span>About Me</span>
  </div>
  <div class="p-mx-auto p-col-12">
    <span class="regular-text">I am currently a Junior at Kettering University in Flint, Michigan. I am from, and am currently living in Woodhaven, Michigan</span>
  </div>
</div>
